
body {
  background-color: #5A75A5;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

div.wrapper {
  text-align: center;

}

div.navbar {
  background-color: #fff8f0;
  border: solid 2px black;
  margin-right: 90%;
  padding-left: 4px;
}
