
body {
  background-color: #5A75A5;
  font-family: "ProximaNovaCond",sans-serif;
}

div.wrapper {
  font-family: "ProximaNovaCond",sans-serif;
  text-align: left;
  background-color: #fff8f0;
  -moz-box-shadow: 0 0 10px rgba(0,0,0,.3);
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,.3);
  box-shadow: 0 0 10px rgba(0,0,0,.3);
  margin: 16px auto;
  padding: 2.25%;
  width: 75%;
}

div.navbar {
  font-family: "ProximaNovaCond",sans-serif;
  background-color: #fff8f0;
  -moz-box-shadow: 0 0 10px rgba(0,0,0,.3);
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,.3);
  box-shadow: 0 0 10px rgba(0,0,0,.3);
  margin-right: 90%;
  padding-left: 4px;
}
