<h2>Edit Your Review</h2>

<form action="/reviews/<%= @review.id %>" method="POST">
  <input type="hidden" name="_method" value="patch">
  <label for="game">Game: </label>
  <input type="text" name="game" value="<%= @review.game %>">
  <br>
  <label for="content">Content: </label>
  <textarea name="content" style="width:auto; height:auto;"><%= @review.content %></textarea>
  <br>
  <input type="submit" name="" value="Edit">
</form>