<h1>All Game Reviews</h1>
<% @reviews.each do |review| %>
  <br>
  <h3><a href="/reviews/<%= review.id %>"><%= review.game %> Review:</a></h3>
  <br>
  <p><%= review.content %></p>
  <br>
  <p>Written by: <%= review.user.name %></p>
<% end %>
