<h2>Write a New Review!</h2>

<form action="/reviews" method="POST">
  <label for="game">Game: </label>
  <input type="text" name="game" value="">
  <br />
  <label for="content">Content: </label>
  <input type="text" name="content" value="">
  <br />
  <input type="submit" value="Create Review">
</form>