<h2>Write a New Review!</h2>

<form action="/reviews" method="POST">
  <label for="game">Game: </label>
  <input type="text" name="game" value="">

  <label for="content">Content: </label>
  <input type="text" name="content" value="">

  <input type="submit" value="Create Review">
</form>